<form class="modal fade" id="signUpForm" data-bs-backdrop="static" data-bs-keyboard="false" (ngSubmit)="addUser()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" [routerLink]="['..']"
          routerLinkActive="router-link-active"></button>
      </div>
      <div class="modal-body">
        <div [formGroup]="signUpForm" class="col">
          <div class="mb-3">
            <label for="username" class="form-label">Username: </label>
            <input type="text" class="form-control" id="username" formControlName="username"
              placeholder="Enter it here..">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address: </label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input type="password" class="form-control" id="password" formControlName="password"
              placeholder="Your password..">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [routerLink]="['..']" data-bs-dismiss="modal"
          routerLinkActive="router-link-active" #close>Close</button>
        <button type="submit" class="btn btn-primary" 
          [disabled]="signUpForm.invalid">Submit</button>
      </div>
    </div>
  </div>
</form>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signUpForm" #open hidden>
  Launch static backdrop modal
</button>