button {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 20px;
    right: 20px;
    background-color: rgba($color: skyblue, $alpha: 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    font-size: 50px;
}