<main id="main">
    <div class="container-fluid m-0 h-100">
        <div class="row justify-content-start align-items-center h-100 g-2">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-image" style="background-image: url('assets/images/censor-app.png');"></div>
                    <div class="card-body text-center">
                        <h3 class="card-title">Angular censor app</h3>
                        <a [routerLink]="['../works/censor-app']" routerLinkActive="router-link-active"  class="btn btn-primary">View app</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-image" style="background-image: url('assets/images/phone-book.png');"></div>
                    <div class="card-body text-center">
                        <h3 class="card-title">Angular Phone Book</h3>
                        <a [routerLink]="['../works/phone-book']" routerLinkActive="router-link-active"  class="btn btn-primary">View app</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-image" style="background-image: url('assets/images/task-list.png');" ></div>
                    <div class="card-body text-center">
                        <h3 class="card-title">Angular Task List</h3>
                        <a [routerLink]="['../works/task-list']" routerLinkActive="router-link-active"  class="btn btn-primary">View app</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-image" style="background-image: url('assets/images/user-list.png');"></div>
                    <div class="card-body text-center">
                        <h3 class="card-title">Angular User List</h3>
                        <a [routerLink]="['../works/user-list']" routerLinkActive="router-link-active"  class="btn btn-primary">View app</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-image" style="background-image: url('assets/images/Blog-App(Level_1).png');" ></div>
                    <div class="card-body text-center">
                        <h3 class="card-title">Blog App (Level 1)</h3>
                        <a [routerLink]="['../works/angular-blog']" routerLinkActive="router-link-active"  class="btn btn-primary">View app</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    
</main>